@import "utils/variables";
@import "utils/mixins";

@import "components/buttons";
@import "components/animations";

@import "layout/footer";
@import "layout/header";
@import "layout/steps";
@import "layout/hero";
@import "layout/restaurants";
@import "layout/_menu";

//GENERAL

body {
    font-family: $main-font;
    width: 100%;
    margin: auto;
}

* a {
    text-decoration: none;
    color: black;
}

* li {
    list-style-type: none;
}

*h1, h2, h3, h4 {
    margin:0;
}

*p {
    margin:0;
}

