//HEADER  - ALL PAGES
.header {
    padding: 15px 0px 8px 15px;
    display: flex; 
    align-items: center;
    justify-content: center;
    &__arrow {
        position: absolute;
        left: 6%;
        top: 3.6%;
        color: $dark-grey;
        font-size: 20px;
        }
    &__logo {
        font-family: $second-font;
        color: $black;
        font-size: 33px;
        }
}

//BREAKPOINT MENU DESKTOP
@media screen and (min-width: 1024px) {
    .header {
        padding-bottom: 20px;
    }
    .header__arrow {
        left: 2%;
    }
}