// HERO - HOME PAGE

//LOCATION SECTION

.location {
    color: $dark-grey;
    background-color: $light-grey2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    &__txt {
        font-size: $size-text;
        font-weight: 600;
    }
}

//HERO SECTION 

.hero {
    background-color: $light-grey;
    text-align: center;
    padding: 15px 0px 10px;
    &__title {
        margin: 30px 70px 0px 70px; 
    }
    &__txt {
        font-size: $size-subtitle;
        font-weight: 300;
        margin: 15px 15px 25px;
    }
}
