//MENU - MENU PAGES
.restaurant__img__picture {
        height: 350px;
        width: 100%;
        object-fit: cover ;
}
.restaurant__menu {
    background-color: $light-grey;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 30px 20px 0px 20px;
    position: relative;    
    top: -70px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-family: $second-font;
        font-size: 30px;
        font-weight: 400;
    }
    .hoverheart__empty {
        padding-right: 25px;
    }
    .hoverheart__full {
        position: absolute;
        right: 10%;
    }
}

.menu__title {
    font-weight: $weight-text;
    font-size: $size-subtitle;
    margin: 25px 0px 15px 0px;
    &:after {
        display: block;
        content: "";
        background: $light-green;
        margin-top: 2px;
        height: 3px;
        width: 40px;
    }
}

//MENU CARD
.menu__card {
    margin: 0 15px 15px 0;
    background: $light-grey;
    width: 100%;
    border-radius: 20px;
    box-shadow: $menu-card-shadow;
    position: relative;
    overflow: hidden;
        &:hover .menu__card__test__detail {
            width: 60%;
          	transition: width .5s ease-in-out;
        }
        &:hover .menu__card__test_check {
            transform: translateX(0px);
          	transition: .5s ease-in-out;  		
        }
    &__title {
        font-size: $size-subtitle;  
        font-weight: $weight-title;
        margin: 15px 0 5px 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;   
    }
    &__test {
        display: flex;
        margin: 5px 0 5px 15px;
        width: 100%;
        overflow: hidden;
        &__detail {
            width: 100%;
            display: flex;
            justify-content: space-between;
            transform-origin: left 50%;
            transition-duration: .5s;
            overflow: hidden;
            margin-bottom: 10px;
            &__txt {
                margin-left: 15px;
                font-weight: $weight-text;
                font-size: $size-text;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;     
            }
            &__price {
                font-size: $size-text;
                font-weight: $weight-title;
            }
        }
        &__icon {
            background-color: $light-green;
            width: 65px;
            transform-origin: right 50%;
            border-radius: 0 20px 20px 0;
            transform: translateX(65px);
            transition-duration: .5s;
            &__check {
              // position:absolute;
                left: 20px;
                top: 25px;
                font-size: 1.5rem;
                color: white;
                opacity: 1;

            }
        }
    }
} 
.order__btn {
    padding: 40px 0 40px 0;
}

//BREAKPOINT MENU DESKTOP
@media screen and (min-width: 1024px) {
    .restaurant__img__picture {
        height: 30%; //à modifier
    }
    .restaurant__menu {
        max-width: 1024px;
        margin: auto;
    }
    .restaurant__menu__header {
        margin: 20px 0 40px 0;
    }
    .restaurant__menu__title {
        margin: auto;
    }
    .menu__content {
        width: 65%;
        margin: auto;
    }
    .menu__title {
        width: 65%;
        margin: auto;
        padding-bottom: 15px;
    }
}