//MENU - MENU PAGES
.main {
    margin-bottom: -70px;
}
.restaurant__img__picture {
        height: 350px;
        width: 100%;
        object-fit: cover;
}
.restaurant__menu {
    background-color: $light-grey;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 30px 20px 50px 20px;
    position: relative;    
    top: -70px;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-family: $second-font;
        font-size: 30px;
        font-weight: 400;
    }
    .hoverheart__empty {
        padding-right: 24px;
    }
    .hoverheart__full {
        position: relative;
        right: 65.5%;
    }
}   
.menu__title {
    font-weight: $weight-text;
    font-size: $size-subtitle;
    margin: 25px 0px 15px 0px;
    &:after {
        display: block;
        content: "";
        background: $light-green;
        margin-top: 2px;
        height: 3px;
        width: 40px;
    }
}

//MENU CARD
.menu__card {
    margin: 0 15px 15px 0;
    background: $light-grey;
    width: 100%;
    border-radius: 20px;
    box-shadow: $menu-card-shadow;
    position: relative;
    overflow: hidden;
    display: flex; 
    justify-content: space-between;
        &:hover .menu__card__text {
            width: 80%; //partie blanche
          	transition: width .5s ease-in-out;
        }
        &:hover .menu__card__icon {
            transform: translateX(0px);
          	transition: .5s ease-in-out;  	
            width: 15%;	//partie verte 
        }
    &__text {
        width: 95%;
        &__title {
            font-size: $size-subtitle;  
            font-weight: $weight-title;
            margin: 15px 0 5px 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;   
        }
        &__content {
            display: flex;
            margin: 5px 0 5px 15px;
            width: 100%;
            overflow: hidden;
            &__detail {
                width: 100%;
                display: flex;
                justify-content: space-between;
                transform-origin: left 50%;
                transition-duration: .5s;
                overflow: hidden;
                margin-bottom: 10px;
                margin-right: 8px;
                    &__txt {
                        font-weight: $weight-text;
                        font-size: $size-text;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;   
                    }
                    &__price {
                        font-size: $size-text;
                        font-weight: $weight-title;
                    }
            }
        }
    }
    &__icon {
        background-color: $light-green;
        width: 0px;
        padding-top: 30px;
        text-align: center;
        transform-origin: right 50%;
        border-radius: 0 20px 20px 0;
        transform: translateX(65px);
        transition-duration: .5s;
        &__check {
            font-size: 1.2rem;
            color: white;
        }
    }
}
.menu__btn {
    margin-top: 50px;
}


//BREAKPOINT MENU DESKTOP
@media screen and (min-width: 1024px) {
    .restaurant__img__picture {
        height: 500px;  
    }
    .restaurant__menu {
        width: 80%;
        margin: auto;
    }
    .restaurant__menu__header {
        width: 30%;
        margin: auto;
        padding-top: 20px;
    }
    .restaurant__menu__title {
        margin: auto;
    }
    .menu__title {
        width: 70%;
        margin: auto;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .menu__cards {
        width: 70%;
        margin: auto;
    }
    .menu__card {
        margin-bottom: 15px;
    }
    .menu__card:hover .menu__card__text {
        width: 80%;
    }
    .menu__card__icon:hover .menu__card__icon {	
        width: 10%;
    }
}