//LOADER (HOMEPAGE)
.loader__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 1;
  animation: fadeOutBackground 1s forwards 1.2s;
}
.loader {
  width: 100px;
  height: 30px;
  position: relative;
  animation: spin 1.5s linear infinite;
  &__ellipse {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
.loader__ellipse:nth-child(1) {
  background: $purple;
  left: 0;
}
.loader__ellipse:nth-child(2) {
  background: $pink;
  left: 40px;
}
.loader__ellipse:nth-child(3) {
  background: $light-green;
  left: 80px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fadeOutBackground {
  0% { opacity: 0.8; }
  100% { opacity: 0; visibility: hidden; }
}

//MAIN BTN (ALL PAGES)
.main__btn {
  transition: transform 0.3s ease-in-out;
  &:hover {
    background: $gradient2;
    box-shadow: $btn-shadow2;
    transform: scale(1.05);
  }
}

//HEART BTN (ALL PAGES)
.hoverheart:hover {
    .hoverheart__full {
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
    .hoverheart__empty {
        opacity: 0;
        transition: .3s ease-in-out;
    }
}
.hoverheart {
  &:hover {
    animation: pulse 1.4s ease-in-out;
  }
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.06);
    }
}
}

//MENU APPEARANCE (MENU PAGE)
.menu-animation1 {
  &:nth-of-type(1) {
    animation: SlideDown 0.9s ease-in-out;
  }
}
.menu-animation2 {
  &:nth-of-type(2) {
    animation: SlideDown 1.2s ease-in-out;
  }
}
.menu-animation3 {
  &:nth-of-type(3) {
    animation: SlideDown 1.5s ease-in-out;
  }
}
@keyframes SlideDown {
  from {
    opacity: 0;
    transform: translateY(70px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


