//BOUTONS 

.main__btn { 
    height: 50px;
    width: 218px;
    border: none;
    background: $gradient1;
    box-shadow: $btn-shadow;
    border-radius: 25px;
    margin-bottom: 50px;
    &__title {
        text-align: center;
        color: $white;
        font-size: $size-text; 
        font-weight: normal; 
    }
}