//BUTTONS


//MAIN BUTTON

.main__btn { 
    display: block;
    height: 50px;
    width: 218px;
    border: none;
    background: $gradient1;
    box-shadow: $btn-shadow;
    border-radius: 25px;
    margin-bottom: 50px;

    &__title {

        color: $white;
        font-size: $size-text; 
        font-weight: normal; 
    }
}

//HEART BUTTON


//NEW BUTTON 

.new__button {
    background-color: $light-green;
    color: $dark-green;
    width:80px;
    height: 29px;
    text-align: center;
    border-radius: 3px;
}