//BUTTONS


//MAIN BUTTON

.main__btn { 
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    background: $gradient1;
    box-shadow: $btn-shadow;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    color: $white;
    font-size: $size-text;
    font-weight: 400;
}

//HEART BUTTON
.hoverheart__full {
    cursor: pointer;
    background: $gradient1; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    opacity: 0;
}

.hoverheart__empty {
    cursor: pointer;
    opacity: 1;
    font-size: 1.5rem;
}

//NEW BUTTON 

.new__button {
    background-color: $light-green;
    color: $dark-green;
    width:80px;
    height: 29px;
    text-align: center;
    border-radius: 3px;
}