//FONT

$main-font: 'Roboto', sans-serif;
$second-font: 'Shrikhand',serif; 


//FONT-WEIGHT 
$weight-title: bold;
$weight-subtitle: 600;
$weight-text: light; 


//FONT-SIZE
$size-title: 24px;
$size-subtitle: 18px;
$size-text: 16px;

//COLORS

$purple: #9356DC;
$pink: #FF79DA;
$light-green: #99E2D0;
$dark-green: #008766;
$black: #000;
$white: #fff;
$dark-grey: #353535;
$grey: #7E7E7E;
$light-grey2: #EAEAEA;
$light-grey: #f6f6f6;

//GRADIENTS

$gradient1: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$gradient2:  linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);



//SHADOWS

$shadow: 0px 2px 4px 0px $dark-grey; //shadow header

$btn-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); //shadow btn 

//shadow steps 

$card-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10); 